@model Doctor


<div>
    <h1>Details: </h1>
    <div>
        <h1>@Model.FirstName @Model.LastName</h1>
        <p>@Model.Email</p>
        <h3>@Model.PhoneNumber</h3>
        <p>@Model.HireDate</p>
    </div>
</div>